$navbar-width: 22%;
$header-height: 100px;

.layout {
	@apply relative;
	> nav {
		@apply fixed top-0 bottom-0 overflow-y-auto;
		width: $navbar-width;
		max-width: 300px;
	}

	.center {
		margin-left: $navbar-width;
	}
}

.main {
	@apply bg-dark-100 p-2layout;
	border-radius: 50px 50px 0 0;
	border: 1px solid #000000;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	min-height: calc(100vh - $header-height);
}
